body{
  background-image: linear-gradient(100deg, #000000, #0077ff);
  background-repeat: no-repeat;
}
.card{
  background: #ede6e663 !important;
}
.d-grid{
  grid-template-columns: repeat(4, 1fr) !important;
}
.button{
  display: flex;
  justify-content: space-between;
}